:root {
    --accent-primary: rgb(211, 59, 241);
    --accent-secondary: rgb(241, 214, 59);
    --img-headcover: url(5e63bf829a9085a4bd43.jpg);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

#main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    line-height: 1.2rem;
}

header {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: 
        linear-gradient(
          to right,
          hsla(0, 0%, 0%, 0.78) 0%,
          hsla(0, 0%, 3.78%, 0.772) 13.5%,
          hsla(0, 0%, 7.39%, 0.75) 24.9%,
          hsla(0, 0%, 10.81%, 0.715) 34.5%,
          hsla(0, 0%, 14.05%, 0.671) 42.5%,
          hsla(0, 0%, 17.09%, 0.618) 49.3%,
          hsla(0, 0%, 19.92%, 0.56) 54.9%,
          hsla(0, 0%, 22.54%, 0.499) 59.8%,
          hsla(0, 0%, 24.94%, 0.436) 64.1%,
          hsla(0, 0%, 27.09%, 0.374) 68.1%,
          hsla(0, 0%, 29%, 0.314) 72.1%,
          hsla(0, 0%, 30.63%, 0.261) 76.2%,
          hsla(0, 0%, 31.98%, 0.214) 80.9%,
          hsla(0, 0%, 33.01%, 0.177) 86.2%,
          hsla(0, 0%, 33.69%, 0.151) 92.5%,
          hsla(0, 0%, 34%, 0.14) 100%
          ), var(--img-headcover);

    background-size: cover;
    background-position: center;
    color: white;
}


header > h1 {
    font-size: 5rem;
    max-width: 70vw;
    margin: 0 6rem;
}


#main {
    max-width: 700px;
    margin: 0 auto 120px auto;
}

@media screen and (width < 1000px) {
    #main {
        margin: 0 3rem;
    }
    header {
        justify-content: center;
        align-items: flex-end;
        background-image: 
        linear-gradient(
          to top,
          hsla(0, 0%, 0%, 0.78) 0%,
          hsla(0, 0%, 3.78%, 0.772) 13.5%,
          hsla(0, 0%, 7.39%, 0.75) 24.9%,
          hsla(0, 0%, 10.81%, 0.715) 34.5%,
          hsla(0, 0%, 14.05%, 0.671) 42.5%,
          hsla(0, 0%, 17.09%, 0.618) 49.3%,
          hsla(0, 0%, 19.92%, 0.56) 54.9%,
          hsla(0, 0%, 22.54%, 0.499) 59.8%,
          hsla(0, 0%, 24.94%, 0.436) 64.1%,
          hsla(0, 0%, 27.09%, 0.374) 68.1%,
          hsla(0, 0%, 29%, 0.314) 72.1%,
          hsla(0, 0%, 30.63%, 0.261) 76.2%,
          hsla(0, 0%, 31.98%, 0.214) 80.9%,
          hsla(0, 0%, 33.01%, 0.177) 86.2%,
          hsla(0, 0%, 33.69%, 0.151) 92.5%,
          hsla(0, 0%, 34%, 0.14) 100%
        ), var(--img-headcover);
    }
    
    header > h1 {
        margin: 2rem 0;
        text-align: center;
        font-size: clamp(8vw,3.5rem,5rem);
    }
}

#main > * {
    width: 100%;
}

#main > img {
    margin: 1.5rem 0;
    border: 2px solid black;
    box-shadow: 4px 4px 0 0 var(--accent-primary);
}

.animation > canvas {
    width: auto;
    height: 100%;
    padding: 5px;
    border: 2px solid black;
    box-sizing: border-box;
}

.animation {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foldable {
    border: 2px solid black;
    padding: 0.5rem 2rem;
    margin: 2rem 0;
    box-shadow: 4px 4px 0 0 var(--accent-primary);
    box-sizing: border-box;
}

.foldable > *:first-child {
    margin: 0;
    padding: 1.5rem 0;
}


.foldable > *:last-child {
    /* max-height: 10000px; */
    height: auto;
    overflow: hidden;
    transition: height 2s ease-in-out;
}

.foldable.folded > *:last-child {
    height: 0px;
}

.foldable:not(.folded) > *:first-child:before {
    content: "⯆";
    margin-right: 1rem;
}

.foldable.folded > *:first-child:before {
    content: "⯈";
    margin-right: 1rem;
}

.katex-html {
    display: none;
}

span.mathblock {
    font-size: 1.15rem;
}

div.mathblock {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
}

div.mathblock.mathblock-accent {
    font-size: 2rem;
}

.highlight {
    border-bottom: 3px solid var(--accent-primary);
}
